body {
    background-color: #DDF3FE;
}

#center {
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: block;
    padding-top: 10%;
}

#avatar {
    width: 100px;
    height: 100px;
    padding: 2px;
    margin: auto;
    display: block;
    text-align: center;
}

#form {
    display: block;
    margin: auto;
    width: 200px;
    padding: 2px;
}


#input-window {
    background-color: aliceblue;
}




#output-window {
    background-color: antiquewhite;

}

#change-button {
    display: block;
    margin: auto;
    margin: 20px auto 20px auto;
}