html {
    min-height: 100%;
}

body {
    background-color: rgb(164, 71, 230);
    margin: auto;
}

#center {
    min-width: fit-content;
    max-width: 50%;
    margin: auto;
    padding-top: 200px;
    align-items: center;
}

#history-list {
    height: 290px;
    padding-left: 15px;
    color: aliceblue;
    opacity: 100%;
}

/* opacity */

#text-line:nth-child(1) {
    opacity: 10%;
    font-size: small;
}

#text-line:nth-child(2) {
    opacity: 20%;
    font-size: smaller;

}

#text-line:nth-child(3) {
    opacity: 30%;
}

#text-line:nth-child(4) {
    opacity: 40%;
}

#text-line:nth-child(5) {
    opacity: 50%;
}

#text-line:nth-child(6) {
    opacity: 60%;
}

#text-line:nth-child(7) {
    opacity: 70%;
}

#text-line:nth-child(8) {
    opacity: 80%;
}


#text-line {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#input-box {
    /* border: 1px solid aqua; */
    border: 1px solid rgb(172, 104, 220);
    border-radius: 30px;
    padding: 9px 10px 8px 15px;
    display: inline-block;
    box-shadow: inset 0px 2px 4px rgb(77, 12, 63);
    max-width: fit-content;
    display: block;
    margin: auto;
}

#input-text {
    margin-right: 10px;
    border-style: none;
    background-color: rgb(164, 71, 230);
    color: aliceblue;
    min-height: fit-content;
    outline: none;
    text-align: center;
    margin: auto;
}



/* #input-button {
    width: 35px;
    height: 35px;
    color:aliceblue;
    font-size: large;
    margin-top: 8px;
    padding-left:8px;
    background-color: blueviolet;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 2px 4px black;
} */